<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
</div>
<div class="board_container">
  <div class="board_self">
    <p> You </p>
    <table class="board">
      <tr *ngFor="let row of player.player_map.board">
        <td *ngFor="let cell of row"
           (click)="onSelect(cell)">
          {{cell.value}}
        </td>
      </tr>
    </table>
  </div>

  <div class="board_opp">
    <p> Opponent </p>
    <table class="board">
      <tr *ngFor="let row of player.opponent_map.board">
        <td *ngFor="let cell of row"
          (click)="onSelect(cell)">
          {{cell.value}}
        </td>
      </tr>
    </table>
  </div>

</div>

